/build/
/out/
/.vs/
/.vscode/
/.cache/
*.user
*.db
*.log
**/.venv/
**/.env
**/__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
**/node_modules/
**/dist/
*.tsbuildinfo
web/vite.config.js
web/vite.config.d.ts
